@model Tabel.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Логин";
}

<h2>
    Введите ваш логин и пароль
</h2>
    <br />
    логин = sklite@ya.ru<br />
    пароль = 123<br />

@using (Html.BeginForm("DoLogin", "Home"))
{
    @Html.EditorForModel();

    @*@(Html.Kendo().Button()
    .Name("Enter")
    )*@
    <input type="submit" value="Войти" class="k-primary k-button" />
}
