@using Tabel.ViewModels.Employee

@{
    ViewBag.Title = "Редактор сотрудников";
}

<h2>Редактор сотрудников</h2>


@(Html.Kendo().Grid<EmployeeViewModel>()
    .Name("Grid")
    .Columns(columns =>
    {
        
        columns.Bound(p => p.Name).Title("Имя");
        columns.ForeignKey(p => p.RoleId, (System.Collections.IEnumerable)ViewData["roles"], "RoleId", "RoleName").Title("Роль");
        columns.Bound(p => p.Email).Title("Почта");
        columns.Bound(p => p.Rate).Title("Ставка");

        columns.Command(command => command.Destroy()).Width(110);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create();
        toolbar.Save();
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(20)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model =>
        {
            model.Id(p => p.EmployeeId);
            model.Field(p => p.RoleId).DefaultValue(1);
        })
        .Create("Editing_Create", "Employee")
        .Read("Editing_Read", "Employee")
        .Update("Editing_Update", "Employee")
        .Destroy("Editing_Destroy", "Employee")
    )
)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>