@using Tabel.ViewModels
@using Tabel.ViewModels.Timesheet

@{
    ViewBag.Title = "Табель сотрудников";
}

<h2>Табель сотрудников</h2>

@(Html.Kendo().Grid<TimesheetViewModel>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.ForeignKey(p => p.EmployeeId, (System.Collections.IEnumerable)ViewData["employees"], "EmployeeId", "EmployeeName").Title("Имя сотрудника");
        columns.ForeignKey(p => p.ProjectId, (System.Collections.IEnumerable)ViewData["projects"], "ProjectId", "ProjectName").Width(140).Title("Код проекта");
        columns.Bound(p => p.Date).Format("{0:dd.MM.yyyy}").Width(140).Title("Дата");
        columns.Bound(p => p.Hours).Width(100).Title("Часы");
        columns.Command(command => command.Destroy()).Width(110);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create();
        toolbar.Save();
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(20)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model =>
        {
            model.Id(p => p.TimesheetId);
            model.Field(p => p.EmployeeId).DefaultValue(1);
            model.Field(p => p.ProjectId).DefaultValue(1);
        })
        .Create("Editing_Create", "Timesheet")
        .Read("Editing_Read", "Timesheet")
        .Update("Editing_Update", "Timesheet")
        .Destroy("Editing_Destroy", "Timesheet")
    )
)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>