@model Tabel.ViewModels.WorkIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Вы успешно вошли</h2>

<br/>
Добрый день, @Model.Name!
Ваша роль - @Model.RoleName
@if (Model.RoleName == VariablesConfig.AdminRoleName)
{
    <p> и вы можете редактировать табели сотрудников, а также делать отчёты</p>
}
else
{
    <p> и вы можете забивать свои часы в табель</p>
}
